.sobreMi{
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  
}

.sobreMi__titulo {
  font-family: "Pacifico", cursive;
  font-size: 70px;
  align-self: center;
  justify-content: center;
  margin-top: 70px ;
  margin-bottom: 20px;
}
.sobreMi__box {
  margin-left: 60px;
}
.element{
  color: var(--verde_oscuro);
  font-weight: 700;
  font-family: var(--font__h1);
  font-size: 35px;
  position: relative;
 z-index: 10;
  padding: 30px 0;
}


.typed-cursor {
  color: black;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 6px;
}

.biografia{
  width: 100%;
box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-between;
  background: url("/sources/wallpaper.jpg");
  background-position-y:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px 0;

}

.biografia__contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
 
}

.biografia__titulo{
  text-align: center;
  text-shadow: 6px 2px rgba(0, 0, 0, .5);
  font-size: 120px;
  padding: 10px;
  letter-spacing: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, .7);
  font-weight: 700;
  color: rgba(255, 255, 255, .7);
  /* background-image: url("/sources/wallpaper.jpg"); */
 
}

.biografia__contenido{
  padding: 50px;
  width: 500px;
  font-size: 22px;
  background: black;
  color: var(--blanco_titulo) ;
  background: url("/sources/fondo\ granulado.jpg");
  border-radius: 50px 0 0 50px;
}
