.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 140px;
  padding: 60px;
  position: relative;
  background: url("/sources/fondo.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* background: linear-gradient(90deg, #313D5A 65%, #2e3953 65%); */
}
.presentacion__box {
  height: 80px;
  margin-left: 15px;
  width: 100%;
  /* background-color: aqua; */
}

.decoracion1,
.decoracion2 {
  position: absolute;
  width: 20px;
  height: 70px;
  background-color: blue;
  left: 70px;
  transform: rotate(45deg);
  top: 40px;
}
.decoracion1 {
  background: #6e1dd6;
}

.decoracion2 {
  background: linear-gradient(180deg, #a252e1 0%, #b262f0 100%);
  left: 90px;
}

.presentacion__titulo {
  position: relative;
  font-family: var(--font__h1);
  color: var(--color_titulo);
  z-index: 10;
}
.presentacion__box2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.presentacion__descripcion {
  font-family: var(--font__p);
  text-align: justify;
  font-size: 22px;
  line-height: 1.5;
  opacity: 0.7;
  width: 500px;
}



.foto-perfil{
  width: 300px;
  height: 400px;
  opacity: .7;
  border-radius: 2px;
  box-shadow: 12px 8px rgba(0,0,0,.5);
  
}


.presentacion__fondo {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: var(--color_relleno_sobre_mi);
  /* transform: skew(-20deg); */
  transform: rotate(45deg);
  border-radius: 70px;
  overflow: hidden;
}

.fotoPerfil {
  position: absolute;
  width: 300px;
  height: 400px;
  top: -120px;
  left: 20px;
  /* background-color: aqua; */
  transform: rotate(-5deg);
  /* transform: skew(20deg); */
}
